h1 {
    font-size: 5rem;
    font-weight: bolder;
}


.navbar {
    padding:1% 15%;
}

#intro {
    padding: 5% 15%;
}

.intro-image {
    width: 100%;
}

#education {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7% 15%;
}

.section-title {
    font-size: 5rem;
    font-weight: 900;
    margin: 2% 2% 5%;
}

.section-subtitle {
    font-size: 3rem;
    font-weight: 700;

}

#work-experience {
    text-align: center;
    padding: 7% 15%;
}

#skills {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7% 15%;
}

@media (max-width:576px){
    .navbar {
        padding: 2% 5%;
    }
    .section-title {
        font-size: 2rem;
    }
    .section-subtitle {
        font-size: 1.2rem;
    }
    #intro {
        padding: 10% 3%;
    }

    #intro h1 {
        margin-top: 10%;
        text-align: center;
    }

    .intro-subtitle {
        text-align: center;
    }
    #education, #work-experience, #skills {
        padding: 10% 3%;
    }
}
